{% extends 'base.html' %}

{% block title %}Send Message{% endblock %}

{% block content %}
    <h1>Send a message to {{ receiver.username }}</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.content.label }}<br>
            {{ form.content(cols=60, rows=10) }}
            {% for error in form.content.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}
